body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: raleway;
    color: #ccc;
    background: rgba(235, 235, 235, 0.62);
    text-align: center;
    
}

#content {
    margin: 0 auto;
    width: 100vw;
    box-sizing: border-box;
}

.controls-container {
    float:left;
    width: 70%;
    height: 100%;
}
    
.controls {
    width: 350px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top:7em;
/*    height: 100vh;*/
/*    box-sizing: border-box;*/
/*    padding-top: 3em;*/
}

.variable {
    border-bottom: solid 2px rgba(255, 255, 255, 0.11);
}
canvas.f {
    background: rgba(255, 255, 255, 0.8);
}

.f-wrapper {
    width: 350px;
    background: rgba(33, 123, 123, 0.97);
}
.f-wrapper .equation {
    font-size: 1em;
    padding: 1em 0em;
    background: rgba(1, 16, 23, 0.53)
}
.wrapper {
    width: 87.5px;
    float: left;
    background: rgba(33, 123, 123, 0.97);
}
.wrapper .label {
    font-size: 0.7em;
    background: rgba(1, 16, 23, 0.53);
    padding-top: 1em;
    padding-bottom: 1.2em;
    height: 1.0em;
}


.explanation-container {
    margin: 0;
    height: 100vh;
    color: rgba(83, 50, 50, 0.69);
    background: url(img/png/19.png);
    box-sizing: border-box;
    padding: 4em;
    float: left;
    width: 30vw;
    text-align: left;
    
}

.explanation h1 {
    color: #9b3939;
    font-size: 2em;
    padding: 0;
    margin: 0;
}





















