body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: raleway;
    color: #ccc;
    background: #22303b;
/*    margin-top: 4vh;*/
    text-align: center;
}

.variable {
    border-bottom: solid 2px rgba(255, 255, 255, 0.11);
}

canvas {
    background: rgba(128, 128, 128, 0.08);
}

canvas.f {
    background: rgba(33, 123, 123, 0.8);
}

.f-wrapper {
    width: 350px;
}
.f-wrapper .equation {
    font-size: 1em;
    padding: 1em 0em;
    background: rgba(1, 16, 23, 0.53)
}
.wrapper {
    width: 200px;
    float: left;
}
.wrapper .label {
    padding-top: 1em;
    padding-bottom: 0.8em;
    background: rgba(1, 16, 23, 0.19);
    text-emphasis: capitalize;
}