body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: raleway;
    color: #ccc;
    background: #22303b;
    text-align: center;
}

#content {
    width: 350px;
    margin: 0 auto;
}

.variable {
    border-bottom: solid 2px rgba(255, 255, 255, 0.11);
}
canvas.f {
    background: rgba(33, 123, 123, 0.8);
}

.f-wrapper {
    width: 350px;
}
.f-wrapper .equation {
    font-size: 1em;
    padding: 1em 0em;
    background: rgba(1, 16, 23, 0.53)
}
.wrapper {
    border-top: 0.5em solid #ccc;
    width: 87.5px;
    float: left;
}
.wrapper .label {
    font-size: 0.7em;
    background: rgba(1, 16, 23, 0.53);
    background: rgba(33, 123, 123, 0.8);
    padding-top: 1em;
    padding-bottom: 1.2em;
    height: 1.0em;
}